# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache
venv/
env/
.venv

# Logs
*.log
logs/

# Node
node_modules/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db

# OS
.DS_Store
Thumbs.db

.husky